<div class="container" style="width: 100%;
                            height: 100%;
                            display: flex;
                            padding: 0px;">
    <div class="sidebar" style="border: solid 1px;
                                width: 20%;">
        ・富永
    </div>
    <div class="main">
        <div class="row"
             style="display: flex;">
            <h1>Node Chat チャットルーム</h1>
            <div class="room-login_user"
                style="color: gray;">
                ログインユーザ：{{userName}}さん
                <br>
                選択したアイコン：{{icon}}
                <input id="userName" type="hidden" value={{userName}}>
                <div class="room-exit">
                    <input type="button" 
                            value="退室する" 
                            class="common-button room-exit_button btn btn-danger" 
                            onclick="exit();">
                </div>
            </div>
        </div>
        <div class="row">
            <form method="post" action="/">
                <div class="room-thread">
                    <div id="thread"></div>
                </div>
                <div style="display: flex;
                            margin-top: 20px;">
                    <div class="room-message">
                        <textarea id="message" 
                                rows="2" 
                                class="room-message_textarea" 
                                placeholder="投稿文を入力してください"
                                style="border-radius: 20px;
                                        background-color: lightgray;">
                        </textarea>
                    </div>
                    <input type="button" 
                            value="投稿" 
                            class="common-button room-publish_button btn btn-primary" 
                            onclick="publish();"
                            style="height: 40px;
                                    border: none;
                                    margin-left: 10px;
                                    border-radius: 10px;">
                    <input type="button" 
                            value="メモ" 
                            class="common-button room-memo_button btn btn-primary" 
                            onclick="memo();"
                            style="height: 40px;
                                    border: none;
                                    border-radius: 10px;
                                    margin-left: 10px;">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
